# Git
.git
.gitignore

# Python leftovers
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.venv/
venv/

# project folders and files
My Collection.postman_collection.json
data/raw/CMAPSSData.zip
data/raw/CMAPSSData/Damage Propagation Modeling.pdf
data/raw/CMAPSSData/readme.txt
data/raw/CMAPSSData/RUL_FD001.txt
data/raw/CMAPSSData/RUL_FD002.txt
data/raw/CMAPSSData/RUL_FD003.txt
data/raw/CMAPSSData/RUL_FD004.txt
data/raw/CMAPSSData/test_FD001.txt
data/raw/CMAPSSData/test_FD002.txt
data/raw/CMAPSSData/test_FD003.txt
data/raw/CMAPSSData/train_FD001.txt
data/raw/CMAPSSData/train_FD002.txt
data/raw/CMAPSSData/train_FD003.txt
data/raw/CMAPSSData/train_FD004.txt

data/processed/
logs/
models/cgboost/xgboost_v001.json
notebooks/
results/

src/data_loader.py
src/evaluate.py
src/model_defination.py
src/train.py

utils/modelEvaluation.py
utils/version_control.py

# Mac junk and build artifacts
.DS_Store
* .egg-info

# Setup Scripts
install-openmp.sh
*.sh

# IDE
.vscode/

# UV specifics
.uv